In [1]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
df = pd.read_csv(url, parse_dates=True)
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [3]:
df_NY = df[df['state'] == 'New York']
df_NY.head()

           date     state  fips  cases  deaths
246  2020-03-01  New York    36      1       0
261  2020-03-02  New York    36      1       0
276  2020-03-03  New York    36      2       0
293  2020-03-04  New York    36     11       0
313  2020-03-05  New York    36     22       0

In [9]:
cases = df_NY['cases']
new_cases = np.diff(cases)

dates = df_NY['date'][1:]

new_df = pd.DataFrame({'date': dates, 
              'new_cases': new_cases})

new_df.to_csv('NY_Cases.csv')