In [1]:
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
df = pd.read_csv(url, parse_dates = True)

df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [2]:
df_nyc = df[df['county'] == 'New York City']
df_nyc.drop(columns=['fips'])

              date         county     state   cases   deaths
416     2020-03-01  New York City  New York       1      0.0
448     2020-03-02  New York City  New York       1      0.0
482     2020-03-03  New York City  New York       2      0.0
518     2020-03-04  New York City  New York       2      0.0
565     2020-03-05  New York City  New York       4      0.0
...            ...            ...       ...     ...      ...
954844  2021-01-22  New York City  New York  558262  26398.0
958090  2021-01-23  New York City  New York  564245  26466.0
961335  2021-01-24  New York City  New York  569668  26558.0
964580  2021-01-25  New York City  New York  575332  26648.0
967824  2021-01-26  New York City  New York  580389  26720.0

[332 rows x 5 columns]

In [3]:
new_cases = np.diff(df_nyc['cases'])
new_deaths = np.diff(df_nyc['deaths'])

date = df_nyc['date'][1:]
cases = df_nyc['cases'][1:]
deaths = df_nyc['deaths'][1:]

In [4]:
df_nyc = pd.DataFrame({'date' : date,
                      'total_cases' : cases,
                      'new_cases' : new_cases,
                       'total_deaths' : deaths,
                      'new_deaths' : new_deaths})

In [5]:
df_nyc.to_csv("nyc_cases_deaths.csv",index = False)